<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-800 text-white">
    <%- include('partials/navigation')%>

    <!-- MAIN CONTENT -->

    <div class="flex-grow flex items-center justify-center">
      <div class="flex justify-center items-center align-middle">
        <div class="bg-gray-900 p-4 border border-gray-700 rounded-xl w-96">
          <div class="text-white text-center">
            <h3 class="text-lg font-semibold">Contact Me</h3>
          </div>
          <div class="p-3">
            <form action="">
              <div class="mb-3">
                <label for="email" class="text-white">Email:</label>
                <input
                  class="bg-gray-700 text-white w-full p-2 rounded-md border border-gray-600 focus:outline-none focus:border-indigo-500"
                  type="text"
                  placeholder="Email"
                />
              </div>
              <div class="mb-3">
                <label for="message" class="text-white">Message:</label>
                <textarea
                  class="bg-gray-700 text-white w-full p-2 rounded-md border border-gray-600 focus:outline-none focus:border-indigo-500"
                  name="message"
                  cols="30"
                  rows="5"
                  placeholder="Message"
                ></textarea>
              </div>
              <button
                class="bg-indigo-500 hover:bg-indigo-600 text-white font-semibold py-2 px-4 rounded-md w-full"
              >
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer')%>
  </body>
</html>
