<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body class="bg-gray-700 text-white">
    <%- include('partials/navigation')%>

    <h1 class="text-bold font-extrabold">Estas en el Contact</h1>
  </body>
</html>
