<nav class="bg-gray-900 p-2">
  <div class="flex justify-between items-center w-[92%] mx-auto">
    <div>
      <img class="w-20 cursor-pointer" src="/img/node.png" alt="..." />
    </div>
    <div
      class="nav-links duration-500 md:bg-transparent bg-slate-700 sm:bg-gray-700 absolute md:min-h-fit min-h-[30vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5 z-20 font-semibold md:static"
    >
      <ul
        class="flex md:flex-row flex-col md:items-center md:gap-[3vw] gap-6 w-full"
      >
        <li class="flex justify-center">
          <a href="/" class="text-white">Home</a>
        </li>
        <li class="flex justify-center">
          <a href="/about" class="text-white">About</a>
        </li>
        <li class="flex justify-center">
          <a href="/contact" class="text-white">Contact</a>
        </li>
      </ul>
    </div>
    <div class="flex items-center gap-6">
      <!-- boton ham -->
      <button
        class="text-white focus:outline-none text-3xl cursor-pointer md:hidden"
        name="menu"
        onclick="onToggleMenu(this)"
      >
        <svg
          class="h-6 w-6"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 6H20M4 12H20M4 18H20"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>

  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    const navLinks = document.querySelector(".nav-links");
    function onToggleMenu(e) {
      e.name = e.name === "menu" ? "close" : "menu";
      navLinks.classList.toggle("top-[3.75rem]");
    }
  </script>
</nav>
